In [19]:
import random

import polars as pl

In [70]:
numbers = random.sample(range(0, 1000000), 100000)
groups = random.sample(range(0, 1000000), 100000)

df = (
    pl.DataFrame([
        pl.Series(name="numbers", values=numbers),
        pl.Series(name="groups", values=groups),
    ])
    .select(
        pl.col('numbers').mod(2) == 0,
        pl.col('groups').mod(3123)
    )
    .group_by('groups')
    .agg('numbers')
)

In [71]:
df

shape: (3_123, 2)
┌────────┬────────────────────────┐
│ groups ┆ numbers                │
│ ---    ┆ ---                    │
│ i64    ┆ list[bool]             │
╞════════╪════════════════════════╡
│ 1057   ┆ [true, false, … true]  │
│ 923    ┆ [false, true, … true]  │
│ 1846   ┆ [true, true, … false]  │
│ 2367   ┆ [true, false, … false] │
│ 2891   ┆ [true, true, … false]  │
│ …      ┆ …                      │
│ 2620   ┆ [true, true, … false]  │
│ 649    ┆ [true, false, … false] │
│ 652    ┆ [false, false, … true] │
│ 1572   ┆ [false, true, … false] │
│ 786    ┆ [true, true, … true]   │
└────────┴────────────────────────┘

In [72]:
df.write_avro('../data/df.avro')

In [73]:
pl.read_avro('../data/df.avro')

shape: (3_123, 2)
┌────────┬────────────────────────┐
│ groups ┆ numbers                │
│ ---    ┆ ---                    │
│ i64    ┆ list[bool]             │
╞════════╪════════════════════════╡
│ 1057   ┆ [true, false, … true]  │
│ 923    ┆ [false, true, … true]  │
│ 1846   ┆ [true, true, … false]  │
│ 2367   ┆ [true, false, … false] │
│ 2891   ┆ [true, true, … false]  │
│ …      ┆ …                      │
│ 2620   ┆ [true, true, … false]  │
│ 649    ┆ [true, false, … false] │
│ 652    ┆ [false, false, … true] │
│ 1572   ┆ [false, true, … false] │
│ 786    ┆ [true, true, … true]   │
└────────┴────────────────────────┘

In [1]:
0.1e-2

0.001